@media (max-width:480px) {
    .cabecalho {
        margin-bottom: 2em;
    }

    .logo{
        height: 4em;
        width: 4em;
    }
    .cabecalho_imagens{
        height: 2.9em;
        width: 4em;
    }
    .pesquisar_input{
        border-radius: 24px;
        border: 2px solid var(--cor-fundo);
        width: 180px;
        height: 26px;
    }
    .pesquisar_botao{
        height: 20px;
        width: 20px;
        margin-left: 0.5em;
        background-size: 20px;
    }
    .banner_container{
        text-align: center;
    }
    .banner_ds{
        width: 80vw;
    }
    .imagem_container {
        display: flex;
        flex-direction: column;
        gap: 2px;
        justify-content: center;

    }
    .tamanho_figura{
        text-align: center;
        width: 100vw;
        padding: 1em 0em ;
    }
    .tamanho_imagem{
        width: 87vw;
        padding-bottom: 0.5em;   
    }
    .figura_texto{
        font-size: 1.2em;
    }
}