@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root{
--fonte-Nanum-Gothic: 'Nanum Gothic', sans-serif;
--fonte-Nanum-Myeongjo: 'Nanum Myeongjo', serif;
--cor-fonte: linear-gradient(to right top, #e0e0e0, #c8c8c8, #b0b0b0, #999999, #838383);
--cor-fundo: linear-gradient(to left, #101216, #0e0e12, #0b090c, #060406, #000000);
}

.container{
    background-image: var(--cor-fundo);
    color: var(--cor-fonte);
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
    padding: 1em;
}
.logo{
    background-image: url(img/shortCut.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    }
.cabecalho_pesquisar{
    display: flex;
    align-items: center;
}
.cabecalho_imagens{
    background-image: url(img/video_call.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 64px;
}
.pesquisar_botao{
    background-image: url(img/search.png);
    cursor: pointer;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;

}
.figura_texto{
    background-image: var(--cor-fonte);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--fonte-Nanum-Gothic);
}

